.trackItem {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px;
  color: silver;
  > * {
    margin-right: 5px;
  }
  &:hover {
    background-color: rgb(71, 71, 71);
    cursor: pointer;
  }
}

.albumArt {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
