<div style="width: 100%; height: 100%;">
    {{#each playlists}}
    <div>
        <img width="50px" height="50px" src={{this.images.[0].url}} />
        <p>{{this.name}}</p>
    </div>
    {{/each}}
</div>